@media screen and (max-width: 576px) {
    html{
        font-size: 10px;
    }
    /* ------------------------------nav-section-start----------------------------- */
    nav{
        max-width: 355px;
        margin: 0 auto;
    }
    .menu-items{
        display: none;
    }
    .menu-icon{
        display: block;
        font-size: 2rem;
    }
    /* ------------------------------hero-section-start----------------------------- */
    .hero-section{
        flex-direction: column;
        gap: 10vh;
        max-width: 355px;
        margin: 0 auto;
    }
    .hero-content, .hero-img{
        width: 100%;
    }
    .hero-img{
        width: 100%;
        position: relative;
        left: -120px;
    }
    .msg-01, .msg-02{
        width: 120px;
        border: 1px solid rgb(93, 93, 93);
        /* padding: 15px 30px; */
        background-color: rgba(31, 31, 31, 0.716);
        border-radius: 10px;
        position: absolute;
        font-size: 10px;
    }
    .msg-01{
        top: 80px;
        left: 340px;
    }
    .msg-02{
        top: 250px;
        left: 140px;
    }
    /* -----------------------------change-your-habit-start----------------------------- */
    .habit-heading{
        padding-top: 60px;
    }
    .change-your-habit{
        position: relative;
        top: 385px;
        max-width: 355px;
        margin: 0 auto;
    }
    .habit-circles{
        grid-template-columns: repeat(1, 1fr);
    }
    /* ------------------------------run-an-extra-mile-start----------------------------- */
    .run-an-extra-mile{
        max-width: 355px;
        margin: 0 auto;
        position: relative;
        top: 385px;
    }
    .run{
        flex-direction: column;
        gap: 20px;
    }
    .run-left,
    .run-right{
        width:100%;
    }
    .run-btn{
        padding: 15px 20px;
        width: 100%;
    }
    /* ------------------------------meet-our-team-start----------------------------- */
    .meet-our-team{
        max-width: 355px;
        margin: 0 auto;
        position: relative;
        top: 385px;
        
    }
    .profiles{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* ------------------------------blog-start----------------------------- */
    .blog{
        padding: 50px 0;
        max-width: 355px;
        margin: 0 auto;
        position: relative;
        top: 385px;
    }
    .blogpost{
        grid-template-columns: repeat(1, 1fr);
    }
    /* ------------------------------bmi-calculator-start----------------------------- */
    .bmi{
        position: relative;
        top: 385px;
    }
    .bmi-heading{
        padding: 20px;
    }
    .bmi-table-input{
        padding: 50px 0;
        max-width: 1060px;
        margin: 0 auto;
        gap: 80px;
        flex-direction: column;
        max-width: 355px;
        margin: 0 auto;
        padding: 20px 0;
    }
    .bmi-table, .bmi-input{
        width: 100%;
    }
    /* ------------------------------footer-start----------------------------- */
    footer{
        position: relative;
        top: 385px;
    }
    .foot{
        flex-direction: column;
    }
    .footer-main{
        max-width: 355px;
        margin: 0 auto;
    }
    .foot-1, .foot-2, .foot-3{    
        width: 100%;
    }
}