@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*  font-family: "Dancing Script", cursive; */

:root {
    --primary-color: rgb(230, 83, 60);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    /* max-width: 1060px; */
    margin: 0 auto;
    background-color: black;
    color: white;
}

h1{
    font-size: 3rem;
}

.d-flex{
    display: flex;
}
.btn{
    padding: 8px 20px;
    border-radius: 20px;
}

.primary-btn{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
}

.secondary-btn{
    border: 1px solid white;
    color: white;
    font-size: 1rem;
}
/* ------------------------------nav-section-start----------------------------- */
header{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(28, 28, 28), rgb(0, 0, 0));
}
.nav-bg{
    max-width: 1060px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(47, 47, 47), rgb(0, 0, 0)); */
}
.navbar ul{
    gap: 3.15rem;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 20px;
    padding: 2px;
}
.navbar li{
    list-style: none;
    padding: 8px 20px;
    color: white;
    border-radius: 20px;
}
.logo h1{
    color: var(--primary-color);
}
.menu-item-active, li:hover{
    background-color: var(--primary-color);
}
.menu-icon{
    display: none;
}


/* ------------------------------hero-section-start----------------------------- */
.hero-section{
    height: 70vh;
}
.hero-content, .hero-img{
    width: 50%;
}
.hero-content{
}
.hero-title{
    font-size: 4.8rem;
    line-height: 4.8rem;
}
.hero-content p{
    margin: 5vh 0;
}
.hero-img{
    position: relative;
    padding-left: 150px;
}
.hero-img img{
    height: 100%;
}
.italic-font{
    font-family: "Dancing Script", cursive;
}
.hero-btns{
    gap: 20px;
}
.msg-01, .msg-02{
    width: 210px;
    border: 1px solid rgb(93, 93, 93);
    padding: 15px 30px;
    background-color: rgba(31, 31, 31, 0.716);
    border-radius: 10px;
    position: absolute;
}
.msg-01{
    top: 95px;
    left: 330px;
}
.msg-02{
    justify-content: space-between;
    align-items: center;
    top: 290px;
    left: -10px;
}
.msg-02 i{
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 2rem;
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 0 10px;
}
