@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*  font-family: "Dancing Script", cursive; */

:root {
    --primary-color: rgb(230, 83, 60);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    /* max-width: 1060px; */
    margin: 0 auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.125rem;
}
p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}


.d-flex{
    display: flex;
}
.btn{
    padding: 8px 20px;
    border-radius: 20px;
}

.primary-btn{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
}

.secondary-btn{
    border: 1px solid white;
    color: white;
    font-size: 1rem;
}
/* ------------------------------nav-section-start----------------------------- */
header{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(28, 28, 28), rgb(0, 0, 0));
}
.nav-bg{
    max-width: 1060px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(47, 47, 47), rgb(0, 0, 0)); */
}
.navbar ul{
    gap: 3.15rem;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 20px;
    padding: 2px;
}
.navbar li{
    list-style: none;
    padding: 8px 20px;
    color: white;
    border-radius: 20px;
}
.logo h1{
    color: var(--primary-color);
}
.menu-item-active,.menu-items>ul> li:hover{
    background-color: var(--primary-color);
}
.menu-icon{
    display: none;
}


/* ------------------------------hero-section-start----------------------------- */
.hero-section{
    height: 70vh;
}
.hero-content, .hero-img{
    width: 50%;
}

.hero-title{
    font-size: 4.8rem;
    line-height: 4.8rem;
}
.hero-content p{
    margin: 5vh 0;
}
.hero-img{
    position: relative;
    padding-left: 150px;
}
.hero-img img{
    height: 100%;
}
.italic-font{
    font-family: "Dancing Script", cursive;
}
.hero-btns{
    gap: 20px;
}
.msg-01, .msg-02{
    width: 210px;
    border: 1px solid rgb(93, 93, 93);
    padding: 15px 30px;
    background-color: rgba(31, 31, 31, 0.716);
    border-radius: 10px;
    position: absolute;
}
.msg-01{
    top: 95px;
    left: 330px;
}
.msg-02{
    justify-content: space-between;
    align-items: center;
    top: 290px;
    left: -10px;
}
.msg-02 i{
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 2rem;
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 0 10px;
}
/* ------------------------------change-your-habit-start----------------------------- */
.change-your-habit{
    max-width: 1060px;
    margin: 0 auto;
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.habit-circles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.card-img img{
    border-radius: 50%;
    margin: 20px;
}
/* ------------------------------run-an-extra-mile-start----------------------------- */
.run-an-extra-mile{
    max-width: 1060px;
    margin: 0 auto;
}
.run{
    background-color: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 20px;
    gap: 80px;
    margin: 20px 0;
}
.run-left{
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
} 
.run-right{
    width:40%;
}
.run-right img{
    width: 100%;
    border-radius: 20px;
}
.run-btn{
    padding: 10px 20px;
    border-radius: 25px;
}
/* ------------------------------blog-start----------------------------- */
.blog{
    padding: 50px 0;
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
}
.blogpost{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 50px;
    gap: 20px;
    margin: 30px 0;
}
.blogpost img{
    width: 100%;
    border-radius: 10px;
}
.post-1, .post-2, .post-3, .post-4{
    padding: 10px;
    background-color: #4a4a4a;
    border-radius: 10px;
}
.blog-btn{
    padding: 10px 30px;
    border-radius: 25px;
}
/* ------------------------------bmi-calculator-start----------------------------- */
.bmi-bgc{
    background-color: rgb(34, 34, 34);
}
.bmi{
    margin: 50px 0;
}
.bmi-heading{
    text-align: center;
    padding: 50px 0;
}
.bmi-table{
    width: 50%;
}
.bmi-table h2{
    margin-bottom: 20px;
}
.bmi-table-input{
    padding: 50px 0;
    max-width: 1060px;
    margin: 0 auto;
    gap: 80px;
}
.bmi-input p{
    padding: 10px 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 8px;
}
.bmi-input input, .input-sex{
    width: 48%;
    padding: 10px;
    background-color: rgb(57, 57, 57);
    border-radius: 5px;
    border: none;
    margin: 2px;
    color: rgba(255, 255, 255, 0.6);
}
form{
    margin: 20px 0;
}
.input-select{
    width: 98%;
    padding: 10px;
    background-color: rgb(57, 57, 57);
    border-radius: 5px;
    border: none;
    margin: 2px;
    color: rgba(255, 255, 255, 0.6);
}
.input-btn{
    padding: 10px 35px;
    border-radius: 25px;
    margin: 10px 0;
}
/* ------------------------------training-start-start----------------------------- */
.training{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1060px;
}
.training-cards{
    display: grid;
}
.row-1-1{
    height: 201px;
    width: 250px;
    background-image: url();
}

.row-1, .row-2{
    display: flex;
}
.row-1, .row-2 img{
    width: 100%;
}
/* ------------------------------meet-our-team-start----------------------------- */
.meet-our-team{
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px 0;
}
.team-heading{
    margin-bottom: 30px;
}
.meet-our-team{
    text-align: center;
}
.profiles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 10px 10px 10px 10px;
}
.profile{
    height: 250px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 25px;

}
.porfile-1{
    background-image: url("../images/trainer1.png"); 
}
.porfile-2{
    background-image: url("../images/trainer2.png"); 
}
.porfile-3{
    background-image: url("../images/trainer3.png"); 
}
.porfile-4{
    background-image: url("../images/trainer4.png"); 
}
.porfile-5{
    background-image: url("../images/trainer5.png"); 
}
.porfile-6{
    background-image: url("../images/trainer6.png"); 
}
/* ------------------------------footer-start----------------------------- */
footer{
    background-color: rgb(34, 34, 34);
}
.foot{
    display: flex;
    gap: 30px;
    padding: 30px 0;
}
.foot li{
    list-style: none;
    padding: 7px 0;
    color: rgb(96, 96, 96);
    font-size: 20px;
}
.foot-1{    
    width: 50%;
}
.foot-2{    
    width: 25%;
}
.foot-3{    
    width: 25%;
}
.footer-main{
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}
.copy-right{
    text-align: center;
    padding: 20px 0;
}